#banner_image{
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(Images/intro-bg_1.jpg) no-repeat center center;
    background-size: cover;
    height: 750px;
}

#banner-content{
    position: relative;
    padding: 20px 35px 40px 35px;
    margin: 15%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 600px;
    height: 230px;
}

footer{
    position: fixed;
    text-align: center;
    padding: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
}

#spacing{
    margin: 0 60px 0 60px;
}

.table{
    margin-left: 20px;
    margin-right: 20px;
}